
/* mdl-card */

.mdl-card__title-subtext {
    padding-left: 5px;
}

.mdl-card__supporting-text {
    padding-top: 0px;
    height: calc(100% - 123px);
}

.mdl-card__actions {
    padding: 0;
    padding-top: 8px;
}

.mdl-button-custom {
    height: auto;
    text-transform: none;
    text-align: left;
    padding: 2px;
    width: 100%;
    padding-bottom: 7px;
}

.mdl-card-icon {
    margin-right: 5px;
    margin-top: 2px;
}

/* mdl-button */

.mdl-button-custom--header {
    font-size: 16px;
    margin-bottom: 0px;
}

.mdl-button-custom--text {
    opacity: .7;
    margin-bottom: 0px;
}

.mdl-button-custom--right {
    opacity: .7;
    margin-bottom: 0px;
    float: right;
    font-size: 13px;
    text-transform: lowercase;
}
