body {
    z-index: 1990;
}

.hamburger {
    border-width: 0px;
    border-radius: 0px;
    width: 50px;
    height: 50px;
    float: right;
    margin-bottom: 0px;
    background-color: rgba(255, 255, 255, 0);
    margin: 0px;
    padding: 9px 14px;
}

.hamburger-toggled {
    background-color: white !important;
}

.hamburger-overlay {
    height: 100%;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 2000;
    top: 50px;
    left: 100%;
    white-space: nowrap;
    overflow-y: scroll;
    transition: 0.2s ease-out;
}

.pull-down {
    position: fixed;
    bottom: 15px;
    width: 100%;
}

.overlay-opened {
    left: 0%;
    transition: 0.15s ease-in;
}

.noscroll {
    overflow: hidden;
}






@-webkit-keyframes swing
{
    20%
    {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
    40%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    60%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    70%
    {
        -webkit-transform: translateX(-1px);
        transform: translateX(-1px);
    }
    100%
    {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}
@keyframes swing
{
    20%
    {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
    40%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    60%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    70%
    {
        -webkit-transform: translateX(-1px);
        transform: translateX(-1px);
    }
    100%
    {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

.swing:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}