body {
    z-index: 1990;
}

.hamburger {
    border-width: 0px;
    border-radius: 0px;
    width: 50px;
    height: 50px;
    float: right;
    margin-bottom: 0px;
    background-color: rgba(255, 255, 255, 0);
    margin: 0px;
    padding: 9px 14px;
}

.hamburger-toggled {
    background-color: white !important;
}

.hamburger-overlay {
    height: 100%;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 2000;
    top: 50px;
    left: 100%;
    white-space: nowrap;
    overflow-y: scroll;
    transition: 0.2s ease-out;
}

.hamburger-counter {
    position: fixed;
    right: 4px;
    top: 9px;
    z-index: 10;
}

.pull-down {
    position: fixed;
    bottom: 15px;
    width: 100%;
}

.overlay-opened {
    left: 0%;
    transition: 0.15s ease-in;
}

.noscroll {
    overflow: hidden;
}