include ../parts/mixins

.mdl-grid
  - cardSettings = { phone: { s: 4 }, tablet: { s: 4, o: 2 }, desktop: { s: 4, o: 4 } }
  
  if query_params.error
    +MessageCard(cardSettings, 'Ошибка при создании аудитории', query_params.error)
  
  - var post_url = '/a/' + options.entityNamePlural + (edit_mode ? ('/' + query_params.id + '/edit') : '/create')
  +Form(cardSettings, 'createauditoryform', post_url)
    +InputField('Имя', 'name', true)