include ../parts/mixins

.mdl-grid
  - cardSettings = { desktop: { s: 10, o: 1 }, tablet: { s: 8 }, phone: { s: 4 } }
  
  +MvcMessages('Аудитория создана', 'Аудитория удалена', 'Аудитория сохранена')

- name = { title: 'Имя',  field: 'name' }

- tableDefinition = {}
- tableDefinition.items = list_page_items
- tableDefinition.columns = [name]


.mdl-grid
  +Table(cardSettings, tableDefinition)

    