include ../parts/mixins

.mdl-grid
  - cardSettings = { desktop: { s: 10, o: 1 }, tablet: { s: 8 }, phone: { s: 4 } }
  
  +MvcMessages('Группа создана', 'Группа удалена', 'Группа сохранена')

- specialtyConverter = function (value) { if (value) return value.name }

- name = { title: 'Имя',  field: 'name' }
- specialty = { title: 'Специальность', field: 'specialty', converter: specialtyConverter }

- tableDefinition = {}
- tableDefinition.items = list_page_items
- tableDefinition.columns = [name, specialty]


.mdl-grid
  +Table(cardSettings, tableDefinition)    