include ../parts/mixins

.mdl-grid
  - cardSettings = { desktop: { s: 12 } }
  
  +MvcMessages('Специальность создана', 'Специальность удалена', 'Специальность сохранена')

- name = { title: 'Имя',  field: 'name' }
- shortname = { title: 'Короткое имя',  field: 'shortname' }

- tableDefinition = {}
- tableDefinition.items = list_page_items
- tableDefinition.columns = [name, shortname]


.mdl-grid
  +Table(cardSettings, tableDefinition)

    