include ../parts/mixins

.mdl-grid
  - cardSettings = { desktop: { s: 10, o: 1 }, tablet: { s: 8 }, phone: { s: 4 } }
  
  +MvcMessages('Предмет создан', 'Предмет удалён', 'Предмет сохранён')

- shortname = { title: 'Короткое имя',  field: 'shortname' }
- name = { title: 'Имя',  field: 'name' }

- tableDefinition = {}
- tableDefinition.items = list_page_items
- tableDefinition.columns = [shortname, name]


.mdl-grid
  +Table(cardSettings, tableDefinition)

    