include ../parts/mixins

.mdl-grid
  - cardSettings = { desktop: { s: 10, o: 1 }, tablet: { s: 8 }, phone: { s: 4 } }
  
  +MvcMessages('Звонок создан', 'Звонок удалён', 'Звонок сохранён')

- start = { title: 'Начало',  field: 'start' }
- end = { title: 'Конец',  field: 'end' }
- duration = { title: 'В минутах',  field: 'duration', numeric: true }

- tableDefinition = {}
- tableDefinition.items = list_page_items
- tableDefinition.columns = [start, end, duration]


.mdl-grid
  +Table(cardSettings, tableDefinition)

    