include ../parts/mixins

- cardSettings = { desktop: { s: 10, o: 1 }, tablet: { s: 8 }, phone: { s: 4 } }
.mdl-grid
  +MvcMessages('Пользователь создан', 'Пользователь удалён', 'Пользователь сохранён')

- typeConverter = function(value) { return { 'student' : 'Студент', 'teacher': 'Преподаватель', 'admin': 'Администатор' }[value] }

- lastname = { title: 'Фамилия', field: 'lastname' }
- firstname = { title: 'Имя', field: 'firstname' }
- middlename = { title: 'Отчество', field: 'middlename' }
- login = { title: 'Логин', field: 'login' }
- type = { title: 'Тип',  field: 'type', converter: typeConverter }

- tableDefinition = {}
- tableDefinition.items = list_page_items
- tableDefinition.columns = [lastname, firstname, login, type]

- list_page_items[0].lock = true

.mdl-grid
  +Table(cardSettings, tableDefinition)

    