extends ../parts/layout

block body
  a.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored.floating-button(href='users/create')
    i.material-icons add

block content
  include _users