extends ../parts/layout

block body
  a.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored.floating-button(href='/a/users/create', onclick="return ajax(this)")
    i.material-icons add

block content
  include _users