include parts/mixins
extends parts/blank
  
block head
  title Авторизация

block content
  .mdl-grid
    - var cardSettings = { shadow: 2, phone: { s: 4 }, tablet : { s: 4, o: 2 }, desktop: { s: 4, o: 4 } };

    if error_code == 'invalid_credentials'
      +MessageCard(cardSettings, 'Ошибка входа', 'Проверьте верность введённых данных')

    if error_code == 'session_expired'
      +MessageCard(cardSettings, 'Ошибка', 'Пожалуйста, войдите в систему')
    
    +Card(cardSettings)
      .mdl-card__supporting-text
        
        h4(style='font-weight: 100; text-align: center;') Авторизация

        form(action='/authorize', method='POST', style='padding: 0px 8px;', id='loginform')
          .mdl-textfield.mdl-js-textfield(style='left: 50%; transform: translateX(-50%);')
            input#loginfield.mdl-textfield__input(type='text', autofocus=!login, name='login', value=login)  
            label.mdl-textfield__label(for='loginfield') Логин

          .mdl-textfield.mdl-js-textfield(style='left: 50%; transform: translateX(-50%); margin-bottom: 8px;')
            input#passwordfield.mdl-textfield__input(type='password', name='pass', autofocus=login)
            label.mdl-textfield__label(for='passwordfield') Пароль
                
          a#submit-btn.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(onclick="document.getElementById('loginform').submit()", style='width: calc(50% - 32px)') вход
          a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='#', style='width: calc(50% - 32px);') забыл пароль
      
    script.
      document
        .getElementById("passwordfield")
        .addEventListener("keyup", function(event) {
          event.preventDefault();
          if (event.keyCode == 13) {
              document.getElementById("submit-btn").click();
          }
        });