nav.navbar.navbar-default
  .container
    .navbar-header
      a.navbar-brand(href='/') Студенческий портал
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-left
        li
          a(href='/timetable')
            //span.glyphicon.glyphicon-calendar(aria-hidden='true')
            |  Расписание
        li
          a(href='/')
            //span.glyphicon.glyphicon-ok(aria-hidden='true')
            |  #{'Задания' + ' '}
            span.badge 1
        li
          a(href='/')
            //span.glyphicon.glyphicon-envelope(aria-hidden='true')
            |  #{'Сообщения' + ' '}
            span.badge 2

      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a#student-ddown-btn.dropdown-toggle(href='/', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            | #{' ' + 'Сергей' + ' '}
            img.hidden-xs.avatar-thumbnail(src='http://lorempixel.com/32/32/people/')

          ul#student-ddown-mnu.dropdown-menu
            li
              a(href='/') #{'Моя группа' + ' '}
                span.label.label-default П-303
            li
              a(href='/') Мои преподаватели
            li.divider(role='separator')
            li
              a(href='/') Выход

script.
      // Big screen appearance fix
      $(document).ready(function () {
        if ($(window).width() >= 768 && false) {
          var menu_width;

          menu_width = $("#student-ddown-mnu").outerWidth(true);
          $("#student-ddown-btn").outerWidth(menu_width);

          $("#student-ddown-btn").css('text-align', 'center');
        }
      });
