.hamburger-overlay.container
  br
  .list-group
    a.list-group-item(href='/timetable')
      span.badge
      | Расписание
    a.list-group-item(href='')
      span.badge 1
      | Задания
    a.list-group-item(href='')
      span.badge 2
      | Сообщения

nav.navbar.navbar-default.navbar-fixed-top.navbar-toggled
  .container
    .navbar-header
      a.navbar-brand(href='/') Студенческий портал
      button.hamburger.navbar-toggle
        span.icon-bar
        span.icon-bar
        span.icon-bar
    
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-left
        li
          a(href='/timetable')
            //span.glyphicon.glyphicon-calendar(aria-hidden='true')
            |  Расписание
        li
          a(href='/')
            //span.glyphicon.glyphicon-ok(aria-hidden='true')
            |  #{'Задания' + ' '}
            span.badge 1
        li
          a(href='/')
            //span.glyphicon.glyphicon-envelope(aria-hidden='true')
            |  #{'Сообщения' + ' '}
            span.badge 2

      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a#student-ddown-btn.dropdown-toggle(href='/', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            | #{' ' + 'Сергей' + ' '}
            img.hidden-xs.avatar-thumbnail(src='http://lorempixel.com/32/32/people/')

          ul#student-ddown-mnu.dropdown-menu
            li
              a(href='/') #{'Моя группа' + ' '}
                span.label.label-default П-303
            li
              a(href='/') Мои преподаватели
            li.divider(role='separator')
            li
              a(href='/') Выход