include ../parts/mixins

.mdl-grid
  - cardSettings = { phone: { s: 4 }, tablet: { s: 8, o: 0 }, desktop: { s: 7, o: 2 } }

- var weekdays = [['Понедельник', 'mon'], ['Вторник', 'tue'], ['Среда', 'wed'], ['Четверг', 'thu'], ['Пятница', 'fri'], ['Суббота', 'sat']]

- var lessonData = [ {id: 3, teacherId: 3} ]

form#timetableform(action='/t/timetable/', method='POST')
  +Card(cardSettings)
    .mdl-card__supporting-text(style='margin-top: 5px;')
      +ComboBox('Группа', 'group', lists.groups, true, 'width: 45%; margin-right: 5%')
      +ComboBox('Неделя', 'weektype', [{text: 'верхняя', value: 'upper'}, {text: 'нижняя', value: 'lower'}], false, 'width: 45%;')
    .mdl-card__actions.mdl-card--border
      a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(onclick="document.getElementById('timetableform').submit()") сохранить расписание
  
  #days-container
    each weekday in weekdays
      +Text(cardSettings)
        h5(style='color: rgba(0,0,0,.3); text-align: center;') #{ weekday[0] }
      
      - var lessonIndex = 0;
      each lesson in lists.timings
        - var lessonCode = 'lesson' + (lessonIndex++) + weekday[1];
        - var hasLesson = !!lessonData.filter((item) => item.id == lesson.id).length;
        +Card(cardSettings, 'padding-bottom: 0px')
          .mdl-card__title
            +Toggle(lessonCode + 'toggle', lesson.getDisplayName(), null, hasLesson)
          .mdl-card__supporting-text.lesson-editing-pane(id=(lessonCode+'wrapper'), class={'lesson-editing-pane-hidden': !hasLesson})
            +ComboBox('Предмет', lessonCode + 'subject', lists.subjects, false, 'width: 180px; margin-right: 30px;')
            +ComboBox('Преподаватель', lessonCode + 'teacher', lists.teachers, false, 'width: 180px; margin-right: 30px;')
            +ComboBox('Аудитория', lessonCode + 'auditory', lists.auditories, false, 'width: 100px; margin-right: 30px;')


script.
  $toggles = $('.mdl-switch__input');

  $toggles.on('click', function (ctx) {
    var lessonCode = ctx.target.id.split('togglefield')[0];
    $('#' + lessonCode + 'wrapper').toggleClass('lesson-editing-pane-hidden');    
  })