include ../parts/mixins

- cardSettings = { desktop: { s: 10, o: 1 }, tablet: { s: 8 }, phone: { s: 4 } }
.mdl-grid
  +MvcMessages('Новость создана', 'Новость удалена', 'Новость сохранена')

- title = { title: 'Заголовок',  field: 'title' }
- text = { title: 'Текст',  field: 'text' }
- createdAt = { title: 'Дата создания',  field: 'createdAt' }
- author = { title: 'Автор', field: 'author', valueGetter: _ => _.user.getDisplayName() }

- tableDefinition = {}
- tableDefinition.items = list_page_items
- tableDefinition.columns = [title, author, createdAt]


.mdl-grid
  +Table(cardSettings, tableDefinition)

    