<h4 class="pull-right"><small>{{todayWeek}}</small></h4>
<h3 style="margin-top:0px;">Сегодня <small>{{todayDay}}</small></h3>
<div class="list-group" >
    <a href='/#/' class="list-group-item" ng-repeat="lesson in lessonsToday">
        <span class="badge">{{lesson.starts}} - {{lesson.ends}}</span>
        <h4 class="list-group-item-heading">{{lesson.name}}<br></h4>
        <p class="list-group-item-text pull-right">{{lesson.classroom}}</p>
        <p class="list-group-item-text">{{lesson.teacher}}</p>
    </a>
</div>
<h4 class="pull-right"><small>{{tomorrowWeek}}</small></h4>
<h3>Завтра <small>{{tomorrowDay}}</small></h3>
<div class="list-group">
    <a href='/#/' class="list-group-item" ng-repeat="lesson in lessonsTomorrow">
        <span class="badge">{{lesson.starts}} - {{lesson.ends}}</span>
        <h4 class="list-group-item-heading">{{lesson.name}}<br></h4>
        <p class="list-group-item-text pull-right">{{lesson.classroom}}</p>
        <p class="list-group-item-text">{{lesson.teacher}}</p>
    </a>
</div>
<button class="btn btn-default btn-block" style="margin-bottom: 20px">Перейти к полному расписанию</button>