extends parts/layout

block head
  title Студенческий портал

block header
  | Сегодня

block content
  main.mdl-layout__content.mdl-color--grey-100
    .mdl-grid

      +Card({all: 4})
        .mdl-card__title
          h2.mdl-card__title-text
            i.material-icons.mdl-card-icon &#xE916;
            | Расписание
          h2.mdl-card__title-text.mdl-card__title-subtext
            small сегодня
        .mdl-card__supporting-text.mdl-card__supporting-text-heightfix
          +LessonList(lessons)
        .mdl-card__actions.mdl-card--border
          a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='/lessons') полное расписание


      +Card({all: 4})
        .mdl-card__title
          h2.mdl-card__title-text
            i.material-icons.mdl-card-icon &#xE877;
            | Задания
        .mdl-card__supporting-text.mdl-card__supporting-text-heightfix
          +TaskList(tasks)
        .mdl-card__actions.mdl-card--border
          a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='#') все задания

      +Card({all: 4})
        .mdl-card__title
          h2.mdl-card__title-text
            i.material-icons.mdl-card-icon &#xE7FB;
            | Группа
        .mdl-card__supporting-text.mdl-card__supporting-text-heightfix
          .mdl-list
            .mdl-list__item.mdl-list__item--two-line(style='position:relative;')
              .mdl-list__item-primary-content
                a(href='#batanena')
                  span.link-wrapper(style='position:absolute; width:100%; height:100%; top:0; left: 0;')
                img.mdl-list__item-avatar(src='https://pp.vk.me/c633819/v633819348/25565/tbTnJqL1qjI.jpg') 
                span Анастасия Батанина
                span.mdl-list__item-sub-title староста 
              a(href='#message-batanena').mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-button--colored.mdl-js-ripple-effect
                i.material-icons &#xE158;
        .mdl-card__actions.mdl-card--border
          a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='#') моя группа
