include parts/mixins

doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')

    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="vendor/material.min.css")
    link(rel="stylesheet" href="material.custom.css")
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css")

    script(defer src="vendor/material.min.js")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='common.js')
    
    title Ошибка

    script console.log('#{stack}');

    style.
      .error {
        background: url(cry.jpeg) no-repeat;
        background-position-x: -200px;
        background-position-y: -50px;
        height: 256px;
        width: 500px;
      }

body.mdl-color--grey-100
  .mdl-layout
    main.mdl-layout__content(style='height: 100hw; width: 100vw;')
      .mdl-grid
        .mdl-layout-spacer

        +Card({all: 6, desktop: 4, shadow: 4})
          .mdl-card__supporting-text
            h2(style='font-weight: 100; text-align: center;')= error.message
          .mdl-card__title-text.error

        .mdl-layout-spacer