extends parts/layout

block head
  title Расписание | Студенческий портал

block header
  | Расписание

block content
  main.mdl-layout__content.mdl-color--grey-100
    .mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
      .mdl-tabs__tab-bar.mdl-color--white
        a.mdl-tabs__tab.is-active(href='#starks-panel') Текущая
        a.mdl-tabs__tab(href='#lannisters-panel') Верхняя
        a.mdl-tabs__tab(href='#targaryens-panel') Нижняя

      - var days = ['Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'];

      .mdl-tabs__panel.is-active(id='starks-panel')
        .mdl-grid

          each day in days
            +Card({all: 4})
              .mdl-card__title
                  h2.mdl-card__title-text
                    | #{day}
                  h2.mdl-card__title-text.mdl-card__title-subtext
                    small
              .mdl-card__supporting-text(style='height: 100%;')
                  +LessonList(lessons[days.indexOf(day)])

      .mdl-tabs__panel(id='lannisters-panel')
        .mdl-grid

          each day in days
            +Card({all: 4})
              .mdl-card__title
                  h2.mdl-card__title-text
                    | #{day}
                  h2.mdl-card__title-text.mdl-card__title-subtext
                    small верхняя
              .mdl-card__supporting-text(style='height: 100%;')
                  +LessonList(lessons[days.indexOf(day)])

      .mdl-tabs__panel(id='targaryens-panel')
        .mdl-grid

          each day in days
            +Card({all: 4})
                .mdl-card__title
                    h2.mdl-card__title-text
                      | #{day}
                    h2.mdl-card__title-text.mdl-card__title-subtext
                      small нижняя
                .mdl-card__supporting-text(style='height: 100%;')
                    +LessonList(lessons[days.indexOf(day)])
