extends parts/layout

block head
  title Расписание | Студенческий портал

block header
  | Расписание

block content
  .mdl-grid

    - var days = ['Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'];

    each day in days
      +Card({all: 4})
        .mdl-card__title
            h2.mdl-card__title-text 
              | #{day}
            h2.mdl-card__title-text.mdl-card__title-subtext
              small верхняя
        .mdl-card__supporting-text(style='height: 100%;')
            +LessonList(lessons[days.indexOf(day)])
    

