extends parts/layout

block head
  title Расписание | Студенческий портал

block header
  | Расписание

block content
  main.mdl-layout__content.mdl-color--grey-100
    .mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
      .mdl-tabs__tab-bar.mdl-color--white
        a.mdl-tabs__tab.is-active(href='#current') Текущая
        a.mdl-tabs__tab(href='#upper') Верхняя
        a.mdl-tabs__tab(href='#lower') Нижняя

      - var days = ['Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'];

      .mdl-tabs__panel.is-active(id='current')
        .mdl-grid

          each day in days
            +Card({all: 4, shadow: (days.indexOf(day) === today.day ? 16 : 2)})
              .mdl-card__title
                  h2.mdl-card__title-text
                    | #{day}
                  h2.mdl-card__title-text.mdl-card__title-subtext
                    small= today.week
              .mdl-card__supporting-text(style='height: 100%;')
                  +LessonList(lessons.current[days.indexOf(day)])

      .mdl-tabs__panel(id='upper')
        .mdl-grid

          each day in days
            +Card({all: 4})
              .mdl-card__title
                  h2.mdl-card__title-text
                    | #{day}
                  h2.mdl-card__title-text.mdl-card__title-subtext
              .mdl-card__supporting-text(style='height: 100%;')
                  +LessonList(lessons.upper[days.indexOf(day)])

      .mdl-tabs__panel(id='lower')
        .mdl-grid
        
          each day in days
            +Card({all: 4 })
              .mdl-card__title
                  h2.mdl-card__title-text
                    | #{day}
                  h2.mdl-card__title-text.mdl-card__title-subtext
              .mdl-card__supporting-text(style='height: 100%;')
                  +LessonList(lessons.lower[days.indexOf(day)])
