include mixins

doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')
    title #{title}

    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="vendor/material.min.css")
    link(rel="stylesheet" href="material.custom.css")
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css")

    script(defer src="vendor/material.min.js")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='common.js')
    
    block head

  body
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header.mdl-layout--fixed-drawer

      header.mdl-layout__header
        .mdl-layout-icon
        .mdl-layout__header-row
          span.mdl-layout__title Студенческий портал
          .mdl-layout-spacer

      .mdl-layout__drawer
        //span.mdl-layout__title
        .user-box
          .avatar
            img.mdl-user-avatar(src='https://pp.vk.me/c622225/v622225892/9a07/kDjI14gqGx4.jpg')
          .name 
            | Сергей Тихонов
        .mdl-navigation
          a.mdl-navigation__link(href='#') Сегодня
          a.mdl-navigation__link(href='#') Расписание
          a.mdl-navigation__link(href='#') Задания
          a.mdl-navigation__link(href='#') Сообщения

      main.mdl-layout__content.mdl-color--grey-100
        
        .mdl-grid
          +Card({all: 4})
            .mdl-card__title
              h2.mdl-card__title-text 
                i.material-icons.mdl-card-icon today
                | Сегодня
              h2.mdl-card__title-text.mdl-card__title-subtext
                small среда
            .mdl-card__supporting-text
              +LessonList(lessons)
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='#') расписание
          

          +Card({all: 4})
            .mdl-card__title
              h2.mdl-card__title-text 
                i.material-icons.mdl-card-icon done
                | Задания
            .mdl-card__supporting-text
              +TaskList(tasks)
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='#') задания
