/*div {
    position: relative;
}*/

/* mdl-card */

.mdl-card__title-subtext {
    padding-left: 5px;
}

.mdl-card__supporting-text {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    height: calc(100% - 123px);
}

.mdl-card__actions {
    padding: 0;
    padding-top: 8px;
}

.mdl-card-icon {
    margin-right: 5px;
    margin-top: 2px;
    color: rgb(84, 84, 84);
}

/* mdl-button */

.mdl-button-custom {
    height: auto;
    text-transform: none;
    text-align: left;
    width: 100%;
    padding-bottom: 4px;
    padding-top: 4px;
}

.mdl-button-custom--header {
    font-size: 16px;
    margin-bottom: 0px;
}

.mdl-button-custom--text {
    opacity: .6;
    margin-bottom: 0px;
}

.mdl-button-custom--right {
    opacity: .6;
    margin-bottom: 0px;
    float: right;
    font-size: 13px;
    text-transform: lowercase;
}

.mdl-card__actions > .mdl-button {
    float: right;
}

/* drawer */

.mdl-user-avatar {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    float: left;
}

.mdl-user-box {
    padding: 16px;
    background: rgb(68, 138, 255);
    color: white;
}

.mdl-user-name {
    margin-top: 70px;
    margin-bottom: 0px;
}

.mdl-user-group {
    margin: 0px;
    opacity: .7;
}

.mdl-navigation-icon {
    padding-right: 12px;
}

.mdl-layout__drawer-custom {
    border-width: 0px;
}

.mdl-navigation__link {
    padding: 16px !important;
}

.mdl-navigation__counter {
    float: right;
    background: #808080;
    color: white;
    border-radius: 3px;
    text-align: center;
    opacity: .8;
    min-width: 10px;
    padding: 0px 5px;
    width: auto;
}

.mdl-navigation__label {
    position: relative;
    top: 1px;
}