include mixins

doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')

    //link(rel="stylesheet" href="materialicons.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="vendor/material.min.css")
    link(rel="stylesheet" href="material.custom.css")
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css")

    script(defer src="vendor/material.min.js")
    script(src='vendor/jquery.min.js')
    script(src='common.js')
    
    block head

  body
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header.mdl-layout--fixed-drawer

      header.mdl-layout__header
        .mdl-layout-icon
        .mdl-layout__header-row
          span.mdl-layout__title
            block header
          .mdl-layout-spacer

      .mdl-layout__drawer.mdl-layout__drawer-custom
        .mdl-user-box.mdl-color--teal-600
          img.mdl-user-avatar(src='https://pp.vk.me/c622225/v622225892/9a07/kDjI14gqGx4.jpg')
          h6.mdl-user-name Сергей Тихонов
          h6.mdl-user-group П-403
        .mdl-navigation
          +MenuItem({label: 'Сегодня',    link: '/',          icon: '&#xE8DF;',  counter: null})
          +MenuItem({label: 'Расписание', link: '/lessons',   icon: '&#xE916;',  counter: null})
          +MenuItem({label: 'Задания',    link: '/tasks',     icon: '&#xE877;',  counter: null})
          +MenuItem({label: 'Сообщения',  link: '/messages',  icon: '&#xE0E1;',  counter: 3})
          +MenuItem({label: 'Группа',     link: '/students',  icon: '&#xE7FB;',  counter: null})
          +MenuItem({label: 'Материалы',  link: '/materials', icon: '&#xE86E;',  counter: null})
          +MenuItem({label: 'Клубы',      link: '/clubs',     icon: '&#xE420;',  counter: null})

      block content