include ../parts/mixins

- var taskCardSettings = { phone: { s: 4 }, tablet: { s: 8, o: 0 }, desktop: { s: 6, o: 3 } }

.mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
  .mdl-tabs__tab-bar(style='background: rgba(255, 255, 255, 0.84);')
    a.mdl-tabs__tab.is-active(href='#first-tab') К&nbsp;выполнению
    a.mdl-tabs__tab(href='#second-tab') Отправленные

  #first-tab.mdl-tabs__panel.is-active
    if list1.length
      for task in list1
        +TaskListEntry(task, taskCardSettings)
          if task.isRemote
            span.mdl-chip.mdl-spacing
              span.mdl-chip__text Удалённая сдача
          if task.hasDueDate
            - var dueDateSoonResult = task.isDueDateSoon();
            span.mdl-chip.mdl-spacing(class={'mdl-chip--red': dueDateSoonResult.isSoon})
              span.mdl-chip__text(id='daysleft-badge-task-' + task.id) До #{ task.getDisplayDueDate() }
              .mdl-tooltip(for='daysleft-badge-task-' + task.id)
                - var NCS1 = function(a) { return (a >= 5 && a <= 20) ? 'Осталось' : ((a % 10 == 1) ? 'Остался' : ((a % 10 > 1 && a % 10 < 5) ? 'Осталось' : 'Осталось')) };
                - var NCS2 = function(a) { return (a >= 5 && a <= 20) ? 'дней' : ((a % 10 == 1) ? 'день' : ((a % 10 > 1 && a % 10 < 5) ? 'дня' : 'дней')) };
                if dueDateSoonResult.daysLeft >= 0 
                  | #{NCS1(dueDateSoonResult.daysLeft) + ' ' + dueDateSoonResult.daysLeft + ' ' + NCS2(dueDateSoonResult.daysLeft)}
                else
                  | Просрочено на #{-dueDateSoonResult.daysLeft + ' ' + NCS2(-dueDateSoonResult.daysLeft)}
          if task.results.length && task.results[0].needsRevision
            span.mdl-chip.mdl-spacing
              span.mdl-chip__text Доработать

    else
      .loading-text(style='position: absolute; z-index: 5; top: calc(30% - 14px);')
        h5 Все задания выполнены.
        h5 Так держать!
        
  #second-tab.mdl-tabs__panel
    if list2.length
      for task in list2
        +TaskListEntry(task, taskCardSettings)
          if task.results[0].state == 'sent'
            span.mdl-chip.mdl-spacing
              span.mdl-chip__text Ожидает проверки
          if task.results[0].state == 'done'
            +MarkChip('A')
            +MarkChip('B')
            +MarkChip('C')
            +MarkChip('D')
    else
      .loading-text(style='position: absolute; z-index: 5; top: calc(30% - 14px);')
        h5 Заданий нет