include ../parts/mixins

- var weekdayIndex = 0;

.mdl-grid
  +Text({ phone: { s: 4 }, tablet: { s: 8, o: 0 }, desktop: { s: 7, o: 2 } })
    h5(style='color: rgba(0,0,0,.3); text-align: center;') Сейчас неделя #{week.index}, #{ {'upper': 'верхняя', 'lower': 'нижняя'}[week.type] } 
    
  for day in [['Понедельник', 'mon'], ['Вторник', 'tue'], ['Среда', 'wed'], ['Четверг', 'thu'], ['Пятница', 'fri'], ['Суббота', 'sat']]
    - var cardSettings = (day[1] == today) ? { all: 4, shadow: 8 } : { all: 4 }
    +Card(cardSettings)
      .mdl-card__title
        h2.mdl-card__title-text
          | #{day[0]}
        h2.mdl-card__title-text.mdl-card__title-subtext
          small #{lists.weekdays[weekdayIndex++].displayDate}
      .mdl-card__supporting-text.mdl-card__supporting-text-strip-borders.mdl-card__supporting-text-heightfix-no-actions
        - var dayLessons = lists.lessons.filter((lesson) => lesson.day == day[1]).sort((a, b) => a.begins > b.begins)
        +LessonList(dayLessons)